<!-- Google Analytics -->
script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-83415087-1', 'auto');
    ga('send', 'pageview');

<!-- Navbar -->
input(id="csrf" type='hidden', name='_csrf', value=_csrf)
nav(class="navbar navbar-default navbar-static-top")
    div(class="container-fluid")
        div(class="navbar-header")
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cgfNavbar")
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
            a(class="navbar-brand" href="/home")
                span.sr CO-OP FRIEND FINDER
        div(class="collapse navbar-collapse" id="cgfNavbar")
            ul(class="nav navbar-nav navbar-left")
                li(class=currentUrl === 'myListings' ? 'active' : '')
                    a(href="myListings")
                        span(class="glyphicon-cff glyphicon-list")
                        |  My Listings
                li(class=currentUrl === 'listings' ? 'active' : '')
                    a(href="listings")
                        span(class="glyphicon-cff glyphicon-th")
                        |  All Listings
                li(class=(currentUrl === 'requests' ? 'active' : '') + " dropdown")
                    a(class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                        span(class="glyphicon-cff glyphicon-refresh")
                        |  Requests
                        if hasRequests == true
                            span.fa.fa-exclamation-circle.requestsBadge
                    ul(class="dropdown-menu")
                        li
                            a(href="requests") Inbox
                        li(role=separator class="divider")
                        li
                            a(href="requestsSent") Sent
                        li(role=separator class="divider")
                        li
                            a(href="requestsAccepted") Accepted Requests
                li(class=currentUrl === 'messages' ? 'active' : '')
                    a(href="messages")
                        span(class="fa-cff fa-envelope-cff")
                        |  Messages
                        if hasUnreadMessages == true
                            span.fa.fa-exclamation-circle.requestsBadge
            ul(class="nav navbar-nav navbar-right")
                li(class=currentUrl === 'profile' ? 'active' : '')
                    a(href="profile")
                        span(class="glyphicon-cff glyphicon-user")
                        |  My Profile
                li
                    a(href="/logout")
                        span(class="glyphicon-cff glyphicon-log-out")
                        |  Logout
<!-- End Navbar -->